p {
    color: black;
    font-size: 14px;
    background-color: white;
    padding: 20px;
    min-width: 240px;
    max-width: 40%;
    margin: 20px;
}

ul {
    font-size: 14px;
    list-style: none;
}

li {
    display: inline-block;
    font-family: Source Sans Pro;
}

a {
    color: black;
    text-decoration: none;
}

h1 {
    text-align: center;
    display: block;
    font-size: 36px;
    background-color: #3c85c9;
    padding: 20px;
    min-width: 240px;
    max-width: 100%;
    font-family: Source Sans Pro;
}

h2 {
    background-color: white;
    padding: 20px;
    font-size: 18px;
    max-width: 100%;
    margin: 20px;
    min-width: 240px;
    display: block;
    font-family: Source Sans Pro;
}

h3 {
    background-color: white;
    display: block;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    margin: 20px;
    min-width: 240px;
    max-width: 100%;
}

h4 {
    background-color: white;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    min-width: 240px;
}

section {
    background-color: white;
    min-width: 280px;
    margin: 40px;
    max-width: 100%;
    position: relative;
}

body {
    background-image: url("images/background.jpg");
    position: relative;
    background-size: 100%;
    background-attachment: fixed;
    display: inline-block;
}

img {
    min-width: 240px;
    max-width: 40%;
    margin: 20px;
}

#title {
    color: white;
}

footer {
    display: block;
    min-width: 240px;
    max-width: 100%;
}

ol li a {
    opacity: 0;
    display: block;
}

ol li a:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    background-color: #3c85c9;
    clear: both;
}

.image1 {
    grid-area: image;
    display: block;
    position: relative;
    width: 100%;
}

.text1 {
    grid-area: text;
    display: block;
    position: relative;
    width: auto;
    padding: 0%;
}

.index1 {
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 1px 1px;
    grid-template-areas: "image text";
}

.index1 h4 {
    font-size: 12px;
}

.index h4 img p {
    padding: 20px;
    margin: 0px;
    min-width: 240px;
    max-width: 100%;
}

.index h3 {
    font-size: 18px;
    font-family: Source Sans Pro;
}

.foot {
    margin: 20px;
    border-color: #3c85c9;
    border-width: thick;
    padding: 20px;
}

.foot p a{
    color: black;
    font-size: 14px;
    align-content: center;
}

@font-face {
    font-family: Source Sans Pro;
    src: "fonts/SourceSansPro-Regular";
}